*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container{
    display: grid;
    grid-template-areas: "a a" "b c" "b d" "b e";
    gap: 15px;
    margin: auto;
    transition: 0.4s;
}

header{
    background-color: #e9d900;
    grid-area: a;
}

main{
    background-color: #007c06;
    grid-area: b;
}


.div1{
    background-color: #b10000;
    grid-area: c;
}

.div2{
    background-color: #b10000;
    grid-area: d;
}

.div3{
    background-color: #b10000;
    grid-area: e;
}  

/* mobile */

@media screen and (max-width: 600px) {
    .container{
        grid-template-areas: "a" "b" "b" "c" "d" "e";
        width: 90%;
        transition: 0.4s;
    }
}


