*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container{
    display: grid;
    gap: 15px;
    grid-template-rows: 20vh 30vh 30vh 15vh;
    grid-template-areas: "a a a a" "d d b c" "e e b c" "f f f f";
    transition: 0.5s;
}

header{
    background-color: #292929;
    grid-area: a;
}

.div1{
    background-color: #7c5f00;
    grid-area: b;
}

.div2{
    background-color: #7c5f00;
    grid-area: c;
}

.main1{
    background-color: #003600;
    grid-area: d;
}

.main2{
    background-color: #003600;
    grid-area: e;
}

footer{
    background-color: #000;
    grid-area: f;
}

@media  screen and (max-width: 600px) {
    .container{
        grid-template-areas: "a a" "b c" "d d" "e e" "f f";
        width: 90%;
        margin: auto;
        grid-template-rows: 15vh 25vh 20vh 20vh 15vh;
    }
}